table,th,td{
    border:1px solid black;
}
.a1{
    text-align: center;
    background-color: dimgray;
}

.a2{
    text-align: center;
    background-color: dimgray;

}
.a3{
    text-align: center;
    background-color: dimgray;

}
.a4{
    text-align: center;
    background-color: dimgray;

}
.a5{
    text-align: center;
    background-color: dimgray;

}
.a6{
    text-align: center;
    background-color: dimgray;

}
.a7{
    text-align: center;
    background-color: dimgray;

}
